document {
  width: fit-content;
  max-width: 1000px;
  margin: auto;
  font-family: Consolas, "Lucida Console", "Courier New", monospace;
  white-space: pre-wrap;
  padding: 5px;
}

title1 {
  font-size: 40px;
  font-style: bold;
}

title2 {
  font-size: 20px;
  font-style: bold;
}

body {
  font-size: 16px;
}

ascii {
  background-color: black;
  color: #00FF00;
}
